/*Smooth Scrolling*/
html {
  scroll-behavior: smooth;
}

/*Background and Fonts*/
body {
  /* If Background Image:
  background-position: center;
  background-attachment: fixed;
  */
  background-color: rgb(22, 23, 27);
  font-family: Proxima-Soft;
  font-weight: bold;
  color: white;
  margin: 0;
  margin-bottom: 25px;
}

/*Default Font Size*/
p {
  font-size: 14px;
}

/*Header*/
header {
  position:fixed;
  width: 100%;
  font-size: 20px;
  background-color: #00000033;
  backdrop-filter: blur(15px);
  height: 50px;
  box-shadow: 0px 5px 25px 5px rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 1;
}

header img {
  position: absolute;
  top: 7.5px;
  left: 15px;
  height: 35px;
}

header a {
  text-decoration: none;
  color: slateblue;
}

header a:hover {
  color: cornflowerblue;
}


/*Profile Picture*/
.pfp {
  width: 125px;
  border-radius: 50%;
  border: 2px solid white;
  float: left;
  margin-right: 15px;
  margin-left: 5px;
}

.pfp:active {
  animation: shake 0.2s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*Profile Box*/
.profilebox {
  background-color: #522ce875;
  backdrop-filter: blur(1px);
  border: 1px solid #3C1EAE;
  padding: 20px;
  border-radius: 24px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: left;
  max-width: 325px;
  box-shadow: 0px 0px 15px 5px #3C1EAEBF;
}

/*Description Box*/
.descbox {
  background-color: #522ce875;
  backdrop-filter: blur(1px);
  border: 1px solid #3C1EAE;
  padding: 12px;
  border-radius: 16px;
  width: 65%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 50px;
  text-align: center;
}

/*Titles*/
h3 {
  scroll-margin-top: 75px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 25px;
  text-shadow: 0px 0px 15px #ffffff;
}

/*Categorys Container*/
.category_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
}

/*Category Buttons*/
.category_button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px;
  border: 2px solid #3C1EAE;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: transparent;
  backdrop-filter: blur(2px);
  font-size-adjust: 2px;
  transition: box-shadow .3s;
}

/*Glow Effect*/
.category_button:hover {
  box-shadow: 0px 0px 15px 5px #3C1EAEBF;
}

/*Zoom Effect*/
.zoom2 {
  transition: transform .4s;
  height: 50px;
  width: 130px;
}

.zoom2:hover {
  transform: scale(1.25); /*If hover, 125% Zoom*/
}

/*Button Container*/
.button_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px;
  margin-right: 25px;
  margin-bottom: 100px;
}

/*Square Button*/
.square_button {
  position: relative;
  width: 125%;
  height: 125%;
  border: 2px solid #3C1EAE;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: transparent;
  transition: box-shadow .2s;
}

/*Button Background*/
.square_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(2px);
  border-radius: 10px;
}

/*Blurred Image*/
.blurred_image {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  filter: blur(3px) brightness(85%);
  object-fit: cover;
}

/*Text on top of Image*/
span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Proxima-Soft;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 5px black;
}

/*Glow Effect*/
.square_button:hover {
  box-shadow: 0px 0px 15px 5px #3C1EAEBF;
}

/*Zoom Effect*/
.zoom {
  transition: transform .3s;
  height: 100px;
  width: 100px;
}

.zoom:hover {
  transform: scale(1.25); /*If hover, 125% Zoom*/
}


/*Social Icons*/
.socials {
  width: 50px;
  height: 50px;
  position: relative;
  transition: transform .4s;
}

.socials img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: auto;
  filter: drop-shadow(0px 0px 10px #3C1EAE);
}

.socials:hover {
  transform: scale(1.25); /*If hover, 125% Zoom*/
}

.socials_container {
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  row-gap: 15px;
  margin-bottom: 50px;
}

h4 {
  text-align: center;
  text-decoration: underline;
  margin-top: 50px;
  font-size: 10px;
  text-shadow: 1px 1px 10px #ffffff
}


/*Error Page*/

.error_page {
  width: 100%;
  height: 100%;
}

.error_body {
  display: flex;
  background-color: rgb(22, 23, 27);
  font-family: Proxima-Soft;
  font-weight: bold;
  color: white;
  margin: 0;
  margin-bottom: 25px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.error {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error h1 {
  margin: 0;
  font-size: 100px;
  text-shadow: 0px 0px 44px slateblue;
}

.error_credits {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 15px;
  height: 50px;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  font-size: 10px;
  text-shadow: 1px 1px 10px #ffffff
}

/*Text Selection*/
::selection {
  background: cornflowerblue;
}

/*Fonts*/
@font-face {
  font-family: Proxima-Soft;
  src: url(Fonts/proxima-soft.ttf);
}


/* Stars */

.bg-animation {
  position: fixed;
  z-index: -1;
}

#stars {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1117px 1306px #dae2ff , 1078px 1783px #dae2ff , 1179px 1085px #dae2ff , 1145px 920px #dae2ff , 422px 1233px #dae2ff , 387px 98px #dae2ff , 1153px 637px #dae2ff , 1084px 782px #dae2ff , 476px 453px #dae2ff , 926px 1306px #dae2ff , 60px 1086px #dae2ff , 753px 1575px #dae2ff , 272px 1684px #dae2ff , 1285px 750px #dae2ff , 1416px 1327px #dae2ff , 1931px 473px #dae2ff , 736px 1395px #dae2ff , 1816px 763px #dae2ff , 438px 879px #dae2ff , 665px 1902px #dae2ff , 1341px 677px #dae2ff , 1404px 1073px #dae2ff , 100px 597px #dae2ff , 357px 1689px #dae2ff , 1044px 1342px #dae2ff , 1954px 502px #dae2ff , 1192px 1308px #dae2ff , 540px 1239px #dae2ff , 1360px 552px #dae2ff , 89px 752px #dae2ff , 659px 1253px #dae2ff , 62px 517px #dae2ff , 1375px 1705px #dae2ff , 1343px 1511px #dae2ff , 1659px 1922px #dae2ff , 1560px 289px #dae2ff , 1362px 1799px #dae2ff , 1886px 1480px #dae2ff , 1718px 1885px #dae2ff , 824px 738px #dae2ff , 1060px 1370px #dae2ff , 1781px 1171px #dae2ff , 255px 273px #dae2ff , 1197px 120px #dae2ff , 213px 7px #dae2ff , 1226px 1920px #dae2ff , 1844px 207px #dae2ff , 1675px 970px #dae2ff , 1435px 1283px #dae2ff , 37px 353px #dae2ff , 59px 417px #dae2ff , 921px 1602px #dae2ff , 1549px 1490px #dae2ff , 638px 1845px #dae2ff , 1328px 198px #dae2ff , 1050px 1149px #dae2ff , 1884px 711px #dae2ff , 333px 263px #dae2ff , 342px 1508px #dae2ff , 1388px 1810px #dae2ff , 1377px 1558px #dae2ff , 890px 487px #dae2ff , 1081px 759px #dae2ff , 890px 1515px #dae2ff , 911px 1284px #dae2ff , 335px 735px #dae2ff , 1140px 549px #dae2ff , 1239px 1064px #dae2ff , 226px 71px #dae2ff , 1100px 1278px #dae2ff , 1851px 1805px #dae2ff , 1370px 1999px #dae2ff , 1008px 1122px #dae2ff , 785px 813px #dae2ff , 1358px 601px #dae2ff , 1833px 1305px #dae2ff , 1768px 1304px #dae2ff , 1303px 532px #dae2ff , 860px 598px #dae2ff , 1329px 593px #dae2ff , 1038px 1088px #dae2ff , 408px 405px #dae2ff , 965px 82px #dae2ff , 1483px 1438px #dae2ff , 310px 1479px #dae2ff , 1786px 1500px #dae2ff , 1866px 852px #dae2ff , 18px 1757px #dae2ff , 1473px 1004px #dae2ff , 1542px 1933px #dae2ff , 633px 1970px #dae2ff , 1334px 1713px #dae2ff , 175px 28px #dae2ff , 592px 894px #dae2ff , 121px 1162px #dae2ff , 1601px 1567px #dae2ff , 1095px 657px #dae2ff , 640px 1233px #dae2ff , 1073px 1255px #dae2ff , 840px 1087px #dae2ff , 718px 250px #dae2ff , 967px 709px #dae2ff , 731px 239px #dae2ff , 1623px 593px #dae2ff , 1058px 1820px #dae2ff , 516px 1898px #dae2ff , 666px 12px #dae2ff , 1997px 1382px #dae2ff , 112px 1690px #dae2ff , 687px 1309px #dae2ff , 63px 539px #dae2ff , 185px 1897px #dae2ff , 1055px 1691px #dae2ff , 435px 1517px #dae2ff , 1175px 1119px #dae2ff , 1721px 133px #dae2ff , 1212px 47px #dae2ff , 166px 18px #dae2ff , 1416px 1652px #dae2ff , 1409px 1745px #dae2ff , 1357px 1232px #dae2ff , 1677px 1998px #dae2ff , 448px 1415px #dae2ff , 705px 1736px #dae2ff , 1031px 1466px #dae2ff , 543px 1651px #dae2ff , 1592px 1888px #dae2ff , 1749px 1175px #dae2ff , 639px 1114px #dae2ff , 1591px 508px #dae2ff , 759px 1244px #dae2ff , 824px 380px #dae2ff , 942px 955px #dae2ff , 723px 732px #dae2ff , 113px 1369px #dae2ff , 203px 1739px #dae2ff , 868px 733px #dae2ff , 713px 971px #dae2ff , 341px 833px #dae2ff , 762px 824px #dae2ff , 1359px 310px #dae2ff , 1858px 1349px #dae2ff , 1531px 692px #dae2ff , 1075px 1512px #dae2ff , 1677px 142px #dae2ff , 1912px 1478px #dae2ff , 1810px 1078px #dae2ff , 426px 844px #dae2ff , 1426px 588px #dae2ff , 1909px 654px #dae2ff , 1107px 295px #dae2ff , 1351px 527px #dae2ff , 1393px 599px #dae2ff , 1379px 1068px #dae2ff , 228px 1846px #dae2ff , 1271px 374px #dae2ff , 1348px 612px #dae2ff , 7px 1301px #dae2ff , 1501px 1782px #dae2ff , 1795px 423px #dae2ff , 1475px 1918px #dae2ff , 1328px 1861px #dae2ff , 1624px 51px #dae2ff , 1791px 672px #dae2ff , 1594px 1467px #dae2ff , 1655px 1603px #dae2ff , 919px 850px #dae2ff , 523px 609px #dae2ff , 1196px 207px #dae2ff , 753px 410px #dae2ff , 686px 1097px #dae2ff , 1570px 133px #dae2ff , 1996px 1137px #dae2ff , 361px 116px #dae2ff , 1015px 462px #dae2ff , 76px 1143px #dae2ff , 491px 1818px #dae2ff , 1563px 795px #dae2ff , 982px 1721px #dae2ff , 831px 1204px #dae2ff , 1737px 589px #dae2ff , 861px 1579px #dae2ff , 1666px 130px #dae2ff , 698px 1799px #dae2ff , 726px 1519px #dae2ff , 109px 1208px #dae2ff , 1184px 1057px #dae2ff , 835px 451px #dae2ff , 896px 594px #dae2ff , 35px 893px #dae2ff , 895px 542px #dae2ff , 706px 225px #dae2ff , 56px 1040px #dae2ff , 1954px 108px #dae2ff , 1439px 1423px #dae2ff , 26px 1881px #dae2ff , 802px 1564px #dae2ff , 273px 708px #dae2ff , 40px 31px #dae2ff , 859px 108px #dae2ff;
  -webkit-animation: animStar 100s linear infinite;
  -moz-animation: animStar 100s linear infinite;
  -ms-animation: animStar 100s linear infinite;
  animation: animStar 100s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1117px 1306px #dae2ff , 1078px 1783px #dae2ff , 1179px 1085px #dae2ff , 1145px 920px #dae2ff , 422px 1233px #dae2ff , 387px 98px #dae2ff , 1153px 637px #dae2ff , 1084px 782px #dae2ff , 476px 453px #dae2ff , 926px 1306px #dae2ff , 60px 1086px #dae2ff , 753px 1575px #dae2ff , 272px 1684px #dae2ff , 1285px 750px #dae2ff , 1416px 1327px #dae2ff , 1931px 473px #dae2ff , 736px 1395px #dae2ff , 1816px 763px #dae2ff , 438px 879px #dae2ff , 665px 1902px #dae2ff , 1341px 677px #dae2ff , 1404px 1073px #dae2ff , 100px 597px #dae2ff , 357px 1689px #dae2ff , 1044px 1342px #dae2ff , 1954px 502px #dae2ff , 1192px 1308px #dae2ff , 540px 1239px #dae2ff , 1360px 552px #dae2ff , 89px 752px #dae2ff , 659px 1253px #dae2ff , 62px 517px #dae2ff , 1375px 1705px #dae2ff , 1343px 1511px #dae2ff , 1659px 1922px #dae2ff , 1560px 289px #dae2ff , 1362px 1799px #dae2ff , 1886px 1480px #dae2ff , 1718px 1885px #dae2ff , 824px 738px #dae2ff , 1060px 1370px #dae2ff , 1781px 1171px #dae2ff , 255px 273px #dae2ff , 1197px 120px #dae2ff , 213px 7px #dae2ff , 1226px 1920px #dae2ff , 1844px 207px #dae2ff , 1675px 970px #dae2ff , 1435px 1283px #dae2ff , 37px 353px #dae2ff , 59px 417px #dae2ff , 921px 1602px #dae2ff , 1549px 1490px #dae2ff , 638px 1845px #dae2ff , 1328px 198px #dae2ff , 1050px 1149px #dae2ff , 1884px 711px #dae2ff , 333px 263px #dae2ff , 342px 1508px #dae2ff , 1388px 1810px #dae2ff , 1377px 1558px #dae2ff , 890px 487px #dae2ff , 1081px 759px #dae2ff , 890px 1515px #dae2ff , 911px 1284px #dae2ff , 335px 735px #dae2ff , 1140px 549px #dae2ff , 1239px 1064px #dae2ff , 226px 71px #dae2ff , 1100px 1278px #dae2ff , 1851px 1805px #dae2ff , 1370px 1999px #dae2ff , 1008px 1122px #dae2ff , 785px 813px #dae2ff , 1358px 601px #dae2ff , 1833px 1305px #dae2ff , 1768px 1304px #dae2ff , 1303px 532px #dae2ff , 860px 598px #dae2ff , 1329px 593px #dae2ff , 1038px 1088px #dae2ff , 408px 405px #dae2ff , 965px 82px #dae2ff , 1483px 1438px #dae2ff , 310px 1479px #dae2ff , 1786px 1500px #dae2ff , 1866px 852px #dae2ff , 18px 1757px #dae2ff , 1473px 1004px #dae2ff , 1542px 1933px #dae2ff , 633px 1970px #dae2ff , 1334px 1713px #dae2ff , 175px 28px #dae2ff , 592px 894px #dae2ff , 121px 1162px #dae2ff , 1601px 1567px #dae2ff , 1095px 657px #dae2ff , 640px 1233px #dae2ff , 1073px 1255px #dae2ff , 840px 1087px #dae2ff , 718px 250px #dae2ff , 967px 709px #dae2ff , 731px 239px #dae2ff , 1623px 593px #dae2ff , 1058px 1820px #dae2ff , 516px 1898px #dae2ff , 666px 12px #dae2ff , 1997px 1382px #dae2ff , 112px 1690px #dae2ff , 687px 1309px #dae2ff , 63px 539px #dae2ff , 185px 1897px #dae2ff , 1055px 1691px #dae2ff , 435px 1517px #dae2ff , 1175px 1119px #dae2ff , 1721px 133px #dae2ff , 1212px 47px #dae2ff , 166px 18px #dae2ff , 1416px 1652px #dae2ff , 1409px 1745px #dae2ff , 1357px 1232px #dae2ff , 1677px 1998px #dae2ff , 448px 1415px #dae2ff , 705px 1736px #dae2ff , 1031px 1466px #dae2ff , 543px 1651px #dae2ff , 1592px 1888px #dae2ff , 1749px 1175px #dae2ff , 639px 1114px #dae2ff , 1591px 508px #dae2ff , 759px 1244px #dae2ff , 824px 380px #dae2ff , 942px 955px #dae2ff , 723px 732px #dae2ff , 113px 1369px #dae2ff , 203px 1739px #dae2ff , 868px 733px #dae2ff , 713px 971px #dae2ff , 341px 833px #dae2ff , 762px 824px #dae2ff , 1359px 310px #dae2ff , 1858px 1349px #dae2ff , 1531px 692px #dae2ff , 1075px 1512px #dae2ff , 1677px 142px #dae2ff , 1912px 1478px #dae2ff , 1810px 1078px #dae2ff , 426px 844px #dae2ff , 1426px 588px #dae2ff , 1909px 654px #dae2ff , 1107px 295px #dae2ff , 1351px 527px #dae2ff , 1393px 599px #dae2ff , 1379px 1068px #dae2ff , 228px 1846px #dae2ff , 1271px 374px #dae2ff , 1348px 612px #dae2ff , 7px 1301px #dae2ff , 1501px 1782px #dae2ff , 1795px 423px #dae2ff , 1475px 1918px #dae2ff , 1328px 1861px #dae2ff , 1624px 51px #dae2ff , 1791px 672px #dae2ff , 1594px 1467px #dae2ff , 1655px 1603px #dae2ff , 919px 850px #dae2ff , 523px 609px #dae2ff , 1196px 207px #dae2ff , 753px 410px #dae2ff , 686px 1097px #dae2ff , 1570px 133px #dae2ff , 1996px 1137px #dae2ff , 361px 116px #dae2ff , 1015px 462px #dae2ff , 76px 1143px #dae2ff , 491px 1818px #dae2ff , 1563px 795px #dae2ff , 982px 1721px #dae2ff , 831px 1204px #dae2ff , 1737px 589px #dae2ff , 861px 1579px #dae2ff , 1666px 130px #dae2ff , 698px 1799px #dae2ff , 726px 1519px #dae2ff , 109px 1208px #dae2ff , 1184px 1057px #dae2ff , 835px 451px #dae2ff , 896px 594px #dae2ff , 35px 893px #dae2ff , 895px 542px #dae2ff , 706px 225px #dae2ff , 56px 1040px #dae2ff , 1954px 108px #dae2ff , 1439px 1423px #dae2ff , 26px 1881px #dae2ff , 802px 1564px #dae2ff , 273px 708px #dae2ff , 40px 31px #dae2ff , 859px 108px #dae2ff;
}

#stars2 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 940px 1360px #dae2ff , 1071px 539px #dae2ff , 1710px 1414px #dae2ff , 836px 299px #dae2ff , 1944px 1420px #dae2ff , 253px 1449px #dae2ff , 1257px 1250px #dae2ff , 1588px 1830px #dae2ff , 1077px 1204px #dae2ff , 273px 1081px #dae2ff , 1993px 766px #dae2ff , 1808px 479px #dae2ff , 917px 263px #dae2ff , 663px 1820px #dae2ff , 342px 1988px #dae2ff , 727px 1250px #dae2ff , 636px 1666px #dae2ff , 692px 1112px #dae2ff , 248px 1211px #dae2ff , 1422px 1121px #dae2ff , 881px 46px #dae2ff , 1531px 1977px #dae2ff , 1643px 1023px #dae2ff , 684px 1071px #dae2ff , 1142px 1873px #dae2ff , 292px 1313px #dae2ff , 256px 1237px #dae2ff , 89px 912px #dae2ff , 964px 1783px #dae2ff , 877px 760px #dae2ff , 1641px 1474px #dae2ff , 1492px 24px #dae2ff , 1776px 1642px #dae2ff , 183px 602px #dae2ff , 1998px 62px #dae2ff , 1560px 367px #dae2ff , 1333px 995px #dae2ff , 704px 1815px #dae2ff , 1809px 712px #dae2ff , 1503px 288px #dae2ff , 630px 556px #dae2ff , 1715px 125px #dae2ff , 353px 1878px #dae2ff , 975px 333px #dae2ff , 1740px 1409px #dae2ff , 1341px 1871px #dae2ff , 1279px 1064px #dae2ff , 169px 874px #dae2ff , 161px 528px #dae2ff , 1671px 1669px #dae2ff , 169px 632px #dae2ff , 547px 1724px #dae2ff , 1904px 110px #dae2ff , 679px 1670px #dae2ff , 196px 123px #dae2ff , 786px 871px #dae2ff , 1840px 324px #dae2ff , 356px 967px #dae2ff , 61px 549px #dae2ff , 99px 677px #dae2ff , 1719px 87px #dae2ff , 1713px 1990px #dae2ff , 1717px 1358px #dae2ff , 108px 1187px #dae2ff , 51px 869px #dae2ff , 1461px 902px #dae2ff , 1034px 891px #dae2ff , 962px 1881px #dae2ff , 1723px 595px #dae2ff , 479px 901px #dae2ff , 1546px 1823px #dae2ff , 285px 1208px #dae2ff , 1056px 347px #dae2ff , 261px 988px #dae2ff , 466px 990px #dae2ff , 1657px 648px #dae2ff , 1249px 933px #dae2ff , 1552px 1555px #dae2ff , 147px 62px #dae2ff , 292px 1157px #dae2ff , 1816px 423px #dae2ff , 1714px 757px #dae2ff , 1036px 961px #dae2ff , 1955px 710px #dae2ff , 1842px 516px #dae2ff , 479px 1870px #dae2ff , 1579px 1445px #dae2ff , 1225px 1309px #dae2ff , 1965px 566px #dae2ff , 1575px 1072px #dae2ff , 923px 329px #dae2ff , 651px 1514px #dae2ff , 865px 1100px #dae2ff , 782px 1873px #dae2ff , 115px 299px #dae2ff , 14px 1668px #dae2ff , 1666px 1817px #dae2ff , 1096px 1068px #dae2ff , 1462px 742px #dae2ff , 1384px 1750px #dae2ff;
  -webkit-animation: animStar 150s linear infinite;
  -moz-animation: animStar 150s linear infinite;
  -ms-animation: animStar 150s linear infinite;
  animation: animStar 150s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 940px 1360px #dae2ff , 1071px 539px #dae2ff , 1710px 1414px #dae2ff , 836px 299px #dae2ff , 1944px 1420px #dae2ff , 253px 1449px #dae2ff , 1257px 1250px #dae2ff , 1588px 1830px #dae2ff , 1077px 1204px #dae2ff , 273px 1081px #dae2ff , 1993px 766px #dae2ff , 1808px 479px #dae2ff , 917px 263px #dae2ff , 663px 1820px #dae2ff , 342px 1988px #dae2ff , 727px 1250px #dae2ff , 636px 1666px #dae2ff , 692px 1112px #dae2ff , 248px 1211px #dae2ff , 1422px 1121px #dae2ff , 881px 46px #dae2ff , 1531px 1977px #dae2ff , 1643px 1023px #dae2ff , 684px 1071px #dae2ff , 1142px 1873px #dae2ff , 292px 1313px #dae2ff , 256px 1237px #dae2ff , 89px 912px #dae2ff , 964px 1783px #dae2ff , 877px 760px #dae2ff , 1641px 1474px #dae2ff , 1492px 24px #dae2ff , 1776px 1642px #dae2ff , 183px 602px #dae2ff , 1998px 62px #dae2ff , 1560px 367px #dae2ff , 1333px 995px #dae2ff , 704px 1815px #dae2ff , 1809px 712px #dae2ff , 1503px 288px #dae2ff , 630px 556px #dae2ff , 1715px 125px #dae2ff , 353px 1878px #dae2ff , 975px 333px #dae2ff , 1740px 1409px #dae2ff , 1341px 1871px #dae2ff , 1279px 1064px #dae2ff , 169px 874px #dae2ff , 161px 528px #dae2ff , 1671px 1669px #dae2ff , 169px 632px #dae2ff , 547px 1724px #dae2ff , 1904px 110px #dae2ff , 679px 1670px #dae2ff , 196px 123px #dae2ff , 786px 871px #dae2ff , 1840px 324px #dae2ff , 356px 967px #dae2ff , 61px 549px #dae2ff , 99px 677px #dae2ff , 1719px 87px #dae2ff , 1713px 1990px #dae2ff , 1717px 1358px #dae2ff , 108px 1187px #dae2ff , 51px 869px #dae2ff , 1461px 902px #dae2ff , 1034px 891px #dae2ff , 962px 1881px #dae2ff , 1723px 595px #dae2ff , 479px 901px #dae2ff , 1546px 1823px #dae2ff , 285px 1208px #dae2ff , 1056px 347px #dae2ff , 261px 988px #dae2ff , 466px 990px #dae2ff , 1657px 648px #dae2ff , 1249px 933px #dae2ff , 1552px 1555px #dae2ff , 147px 62px #dae2ff , 292px 1157px #dae2ff , 1816px 423px #dae2ff , 1714px 757px #dae2ff , 1036px 961px #dae2ff , 1955px 710px #dae2ff , 1842px 516px #dae2ff , 479px 1870px #dae2ff , 1579px 1445px #dae2ff , 1225px 1309px #dae2ff , 1965px 566px #dae2ff , 1575px 1072px #dae2ff , 923px 329px #dae2ff , 651px 1514px #dae2ff , 865px 1100px #dae2ff , 782px 1873px #dae2ff , 115px 299px #dae2ff , 14px 1668px #dae2ff , 1666px 1817px #dae2ff , 1096px 1068px #dae2ff , 1462px 742px #dae2ff , 1384px 1750px #dae2ff;
}

#stars3 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 233px 1976px #dae2ff , 1196px 1119px #dae2ff , 646px 740px #dae2ff , 335px 645px #dae2ff , 1119px 1452px #dae2ff , 176px 1870px #dae2ff , 639px 1711px #dae2ff , 647px 1388px #dae2ff , 1516px 1108px #dae2ff , 464px 66px #dae2ff , 331px 344px #dae2ff , 772px 1189px #dae2ff , 1516px 1850px #dae2ff , 1500px 1463px #dae2ff , 1275px 876px #dae2ff , 1107px 645px #dae2ff , 977px 478px #dae2ff , 583px 1179px #dae2ff , 284px 395px #dae2ff , 1220px 461px #dae2ff , 1160px 249px #dae2ff , 196px 865px #dae2ff , 670px 1915px #dae2ff , 1449px 382px #dae2ff , 1191px 546px #dae2ff , 1329px 605px #dae2ff , 1945px 458px #dae2ff , 995px 749px #dae2ff , 1495px 861px #dae2ff , 708px 1731px #dae2ff , 348px 653px #dae2ff , 548px 1298px #dae2ff , 1606px 990px #dae2ff , 1049px 1204px #dae2ff , 253px 1501px #dae2ff , 1154px 166px #dae2ff , 1087px 104px #dae2ff , 1034px 1161px #dae2ff , 1681px 462px #dae2ff , 577px 1897px #dae2ff , 193px 1901px #dae2ff , 1701px 1755px #dae2ff , 864px 1297px #dae2ff , 800px 1289px #dae2ff , 676px 28px #dae2ff , 185px 1341px #dae2ff , 379px 1151px #dae2ff , 1224px 1725px #dae2ff , 280px 541px #dae2ff , 473px 1196px #dae2ff , 921px 1628px #dae2ff , 969px 432px #dae2ff , 1475px 758px #dae2ff , 1195px 993px #dae2ff , 876px 1840px #dae2ff , 1274px 1689px #dae2ff , 1977px 1101px #dae2ff , 837px 527px #dae2ff , 1785px 1610px #dae2ff , 1650px 1843px #dae2ff , 1127px 1508px #dae2ff , 401px 1050px #dae2ff , 51px 1105px #dae2ff , 545px 880px #dae2ff , 1786px 1672px #dae2ff , 318px 260px #dae2ff , 568px 254px #dae2ff , 1026px 1527px #dae2ff , 1242px 852px #dae2ff , 1785px 982px #dae2ff , 1318px 1071px #dae2ff , 398px 1061px #dae2ff , 1509px 257px #dae2ff , 599px 928px #dae2ff , 1195px 1800px #dae2ff , 1254px 906px #dae2ff , 141px 26px #dae2ff , 1384px 1502px #dae2ff , 476px 767px #dae2ff , 1973px 722px #dae2ff , 1339px 1031px #dae2ff , 778px 818px #dae2ff , 213px 1320px #dae2ff , 184px 221px #dae2ff , 983px 1911px #dae2ff , 923px 1439px #dae2ff , 1936px 581px #dae2ff , 1105px 625px #dae2ff , 325px 729px #dae2ff , 1475px 204px #dae2ff , 1483px 1564px #dae2ff , 1327px 1272px #dae2ff , 1187px 1944px #dae2ff , 1945px 1471px #dae2ff , 116px 960px #dae2ff , 1660px 1610px #dae2ff , 412px 1022px #dae2ff , 1552px 1516px #dae2ff , 1517px 1892px #dae2ff , 306px 829px #dae2ff , 1416px 462px #dae2ff , 1575px 1460px #dae2ff , 424px 1500px #dae2ff , 1530px 1169px #dae2ff , 1388px 1608px #dae2ff , 185px 416px #dae2ff , 634px 1446px #dae2ff , 767px 479px #dae2ff , 71px 426px #dae2ff , 1937px 145px #dae2ff , 1955px 1312px #dae2ff , 1811px 611px #dae2ff , 1145px 569px #dae2ff , 1460px 676px #dae2ff , 131px 1858px #dae2ff , 1557px 473px #dae2ff , 735px 130px #dae2ff , 112px 1531px #dae2ff , 1312px 305px #dae2ff , 409px 1032px #dae2ff , 149px 1964px #dae2ff , 535px 1215px #dae2ff , 1382px 630px #dae2ff , 1437px 1368px #dae2ff , 362px 1181px #dae2ff , 388px 181px #dae2ff , 274px 1287px #dae2ff , 1858px 1414px #dae2ff , 661px 1935px #dae2ff , 675px 1205px #dae2ff , 1829px 1725px #dae2ff , 1937px 1145px #dae2ff , 237px 908px #dae2ff , 1059px 1185px #dae2ff , 824px 1248px #dae2ff , 1167px 1730px #dae2ff , 180px 1961px #dae2ff , 1663px 203px #dae2ff , 374px 221px #dae2ff , 724px 1883px #dae2ff , 970px 1362px #dae2ff , 832px 505px #dae2ff , 313px 233px #dae2ff , 1909px 597px #dae2ff , 434px 201px #dae2ff , 587px 995px #dae2ff , 1833px 623px #dae2ff , 1464px 561px #dae2ff , 231px 593px #dae2ff , 1558px 1433px #dae2ff , 1986px 1767px #dae2ff , 1753px 1728px #dae2ff , 1153px 1623px #dae2ff , 249px 229px #dae2ff , 1503px 1186px #dae2ff , 1784px 137px #dae2ff , 841px 403px #dae2ff , 1400px 354px #dae2ff , 197px 499px #dae2ff , 1188px 681px #dae2ff , 158px 391px #dae2ff , 443px 1099px #dae2ff , 723px 1445px #dae2ff , 1408px 1235px #dae2ff , 1908px 195px #dae2ff , 271px 891px #dae2ff , 469px 1693px #dae2ff , 580px 11px #dae2ff , 1533px 70px #dae2ff , 859px 761px #dae2ff , 1510px 1844px #dae2ff , 421px 558px #dae2ff , 1132px 1453px #dae2ff , 757px 1987px #dae2ff , 212px 293px #dae2ff , 569px 323px #dae2ff , 1404px 1394px #dae2ff , 252px 1386px #dae2ff , 1668px 1857px #dae2ff , 123px 1684px #dae2ff , 105px 490px #dae2ff , 1083px 1769px #dae2ff , 1071px 1953px #dae2ff , 1271px 1159px #dae2ff , 699px 1491px #dae2ff , 1744px 1997px #dae2ff , 1868px 1973px #dae2ff , 1438px 1449px #dae2ff , 1222px 1921px #dae2ff , 1328px 1210px #dae2ff , 438px 873px #dae2ff , 809px 780px #dae2ff , 491px 1524px #dae2ff , 447px 1830px #dae2ff , 927px 1936px #dae2ff , 564px 691px #dae2ff , 1784px 1747px #dae2ff , 1978px 1722px #dae2ff , 1599px 1480px #dae2ff , 1276px 729px #dae2ff , 731px 1174px #dae2ff , 1586px 1711px #dae2ff , 451px 1340px #dae2ff , 1075px 1899px #dae2ff , 13px 575px #dae2ff , 309px 1340px #dae2ff , 981px 183px #dae2ff , 248px 1315px #dae2ff , 849px 80px #dae2ff , 1754px 1540px #dae2ff , 73px 1432px #dae2ff , 1208px 1828px #dae2ff , 65px 575px #dae2ff , 1098px 730px #dae2ff , 127px 1358px #dae2ff , 185px 19px #dae2ff , 1222px 1679px #dae2ff , 1122px 315px #dae2ff , 1906px 452px #dae2ff , 761px 284px #dae2ff , 813px 492px #dae2ff , 1344px 843px #dae2ff , 118px 1834px #dae2ff , 1620px 359px #dae2ff , 1755px 1246px #dae2ff , 299px 1076px #dae2ff , 1746px 158px #dae2ff , 6px 1635px #dae2ff , 143px 190px #dae2ff , 101px 468px #dae2ff , 137px 971px #dae2ff , 1221px 1929px #dae2ff , 1752px 650px #dae2ff , 1635px 1761px #dae2ff , 1522px 833px #dae2ff , 908px 153px #dae2ff , 1044px 350px #dae2ff , 1151px 1940px #dae2ff , 822px 210px #dae2ff , 1774px 310px #dae2ff , 796px 1447px #dae2ff , 1069px 1903px #dae2ff , 217px 565px #dae2ff , 662px 1370px #dae2ff , 1876px 1570px #dae2ff , 847px 46px #dae2ff , 1042px 1689px #dae2ff , 1584px 1434px #dae2ff , 1791px 908px #dae2ff , 973px 908px #dae2ff , 793px 747px #dae2ff , 122px 483px #dae2ff , 1137px 1374px #dae2ff , 1757px 1791px #dae2ff , 513px 225px #dae2ff , 63px 731px #dae2ff , 1179px 1926px #dae2ff , 346px 18px #dae2ff , 589px 175px #dae2ff , 87px 302px #dae2ff , 380px 1295px #dae2ff , 450px 921px #dae2ff , 1667px 1973px #dae2ff , 1495px 1373px #dae2ff , 1462px 1850px #dae2ff , 540px 288px #dae2ff , 1208px 1051px #dae2ff , 1554px 1095px #dae2ff , 1009px 1516px #dae2ff , 181px 572px #dae2ff , 165px 387px #dae2ff , 549px 1835px #dae2ff , 960px 16px #dae2ff , 1360px 403px #dae2ff , 1251px 43px #dae2ff , 1905px 1813px #dae2ff , 1106px 866px #dae2ff , 1809px 277px #dae2ff , 1828px 1720px #dae2ff , 295px 1610px #dae2ff , 523px 166px #dae2ff , 1069px 692px #dae2ff , 1292px 217px #dae2ff , 11px 1721px #dae2ff , 99px 1045px #dae2ff , 51px 1584px #dae2ff , 1053px 266px #dae2ff , 1287px 1235px #dae2ff , 747px 1722px #dae2ff , 1542px 736px #dae2ff , 1256px 18px #dae2ff , 102px 609px #dae2ff , 586px 1339px #dae2ff , 1843px 1697px #dae2ff , 824px 1687px #dae2ff , 1124px 882px #dae2ff , 395px 501px #dae2ff , 1456px 672px #dae2ff , 1472px 1648px #dae2ff , 1326px 1164px #dae2ff , 777px 1672px #dae2ff , 81px 345px #dae2ff , 91px 386px #dae2ff , 243px 411px #dae2ff , 1560px 90px #dae2ff , 6px 1771px #dae2ff , 1601px 616px #dae2ff , 1220px 1808px #dae2ff , 1160px 836px #dae2ff , 246px 1777px #dae2ff , 456px 863px #dae2ff , 97px 1138px #dae2ff , 1811px 942px #dae2ff , 213px 414px #dae2ff , 891px 392px #dae2ff , 1044px 927px #dae2ff , 1856px 216px #dae2ff , 957px 347px #dae2ff , 1486px 406px #dae2ff , 838px 912px #dae2ff , 803px 361px #dae2ff , 564px 826px #dae2ff , 1597px 949px #dae2ff , 1206px 289px #dae2ff , 33px 1035px #dae2ff , 1762px 1377px #dae2ff , 789px 1815px #dae2ff , 1594px 1342px #dae2ff , 1668px 880px #dae2ff , 1539px 1581px #dae2ff , 1547px 53px #dae2ff , 861px 1433px #dae2ff , 693px 1618px #dae2ff , 1762px 782px #dae2ff , 1568px 682px #dae2ff , 1126px 1762px #dae2ff , 1242px 134px #dae2ff , 495px 959px #dae2ff , 1606px 219px #dae2ff , 1878px 1415px #dae2ff , 1652px 797px #dae2ff , 782px 1903px #dae2ff , 1774px 1133px #dae2ff , 1430px 408px #dae2ff , 265px 394px #dae2ff , 890px 336px #dae2ff , 1051px 311px #dae2ff , 461px 1559px #dae2ff , 1931px 91px #dae2ff , 1160px 380px #dae2ff , 1442px 1058px #dae2ff , 1157px 364px #dae2ff , 586px 227px #dae2ff , 1365px 715px #dae2ff , 1658px 1655px #dae2ff , 1923px 1664px #dae2ff , 1023px 1844px #dae2ff , 1939px 1367px #dae2ff , 1203px 1305px #dae2ff , 359px 642px #dae2ff , 1056px 425px #dae2ff , 787px 202px #dae2ff , 1609px 1850px #dae2ff , 1964px 200px #dae2ff , 1537px 586px #dae2ff , 1589px 903px #dae2ff , 1063px 1694px #dae2ff , 760px 1185px #dae2ff , 597px 1396px #dae2ff , 294px 452px #dae2ff , 433px 818px #dae2ff , 199px 840px #dae2ff , 1332px 1937px #dae2ff , 169px 1907px #dae2ff , 591px 834px #dae2ff , 1716px 1032px #dae2ff , 45px 1879px #dae2ff , 686px 1469px #dae2ff , 1520px 475px #dae2ff , 1122px 859px #dae2ff , 973px 1541px #dae2ff , 269px 477px #dae2ff , 1390px 716px #dae2ff , 1791px 783px #dae2ff , 824px 2000px #dae2ff , 1211px 1717px #dae2ff , 1008px 1587px #dae2ff , 1422px 204px #dae2ff , 234px 556px #dae2ff , 506px 550px #dae2ff , 942px 1670px #dae2ff , 397px 853px #dae2ff , 599px 795px #dae2ff , 762px 1926px #dae2ff , 1202px 1424px #dae2ff , 135px 1316px #dae2ff , 1442px 1692px #dae2ff , 977px 652px #dae2ff , 564px 1648px #dae2ff , 997px 1474px #dae2ff , 67px 1366px #dae2ff , 1860px 1451px #dae2ff , 1105px 772px #dae2ff , 1886px 1396px #dae2ff , 1510px 658px #dae2ff , 976px 1544px #dae2ff , 894px 543px #dae2ff , 1098px 1189px #dae2ff , 690px 77px #dae2ff , 770px 733px #dae2ff , 557px 1403px #dae2ff , 1758px 1623px #dae2ff , 1341px 812px #dae2ff , 699px 967px #dae2ff , 277px 866px #dae2ff , 1526px 1828px #dae2ff , 8px 977px #dae2ff , 1707px 952px #dae2ff , 12px 1900px #dae2ff , 72px 921px #dae2ff , 496px 1067px #dae2ff , 1288px 1749px #dae2ff , 273px 984px #dae2ff , 1197px 1991px #dae2ff , 242px 789px #dae2ff , 903px 1035px #dae2ff , 480px 1492px #dae2ff , 102px 1331px #dae2ff , 738px 1343px #dae2ff , 560px 1475px #dae2ff , 367px 846px #dae2ff , 1420px 962px #dae2ff , 1976px 892px #dae2ff , 1911px 1763px #dae2ff , 1639px 1002px #dae2ff , 437px 1522px #dae2ff , 1906px 1025px #dae2ff , 730px 1364px #dae2ff , 1127px 521px #dae2ff , 1401px 1792px #dae2ff , 1954px 1066px #dae2ff , 232px 250px #dae2ff , 1685px 660px #dae2ff , 1011px 999px #dae2ff , 1970px 790px #dae2ff , 750px 499px #dae2ff , 1738px 660px #dae2ff , 1621px 1849px #dae2ff , 446px 52px #dae2ff , 1055px 1396px #dae2ff , 1165px 1497px #dae2ff , 1740px 1425px #dae2ff , 1012px 1920px #dae2ff , 1258px 1560px #dae2ff , 1020px 1152px #dae2ff , 362px 673px #dae2ff , 1065px 975px #dae2ff , 582px 755px #dae2ff , 1271px 1479px #dae2ff , 719px 548px #dae2ff , 1602px 879px #dae2ff , 590px 499px #dae2ff , 721px 1412px #dae2ff , 1180px 113px #dae2ff , 1801px 1961px #dae2ff , 589px 941px #dae2ff , 883px 476px #dae2ff , 214px 890px #dae2ff , 1028px 892px #dae2ff , 1107px 1832px #dae2ff , 944px 361px #dae2ff , 480px 1453px #dae2ff , 1466px 683px #dae2ff , 981px 745px #dae2ff , 1968px 828px #dae2ff , 657px 1830px #dae2ff , 11px 1338px #dae2ff , 179px 730px #dae2ff , 1713px 197px #dae2ff , 51px 955px #dae2ff , 1243px 319px #dae2ff , 1175px 624px #dae2ff , 446px 46px #dae2ff , 5px 1158px #dae2ff , 82px 1352px #dae2ff , 1877px 402px #dae2ff , 708px 1778px #dae2ff , 903px 1625px #dae2ff , 1824px 352px #dae2ff , 1229px 140px #dae2ff , 1518px 24px #dae2ff , 1017px 512px #dae2ff , 515px 699px #dae2ff , 295px 265px #dae2ff , 69px 1773px #dae2ff , 1640px 1163px #dae2ff , 536px 342px #dae2ff , 970px 1766px #dae2ff , 560px 1416px #dae2ff , 577px 193px #dae2ff , 469px 9px #dae2ff , 466px 276px #dae2ff , 711px 853px #dae2ff , 401px 685px #dae2ff , 85px 506px #dae2ff , 865px 558px #dae2ff , 631px 105px #dae2ff , 887px 866px #dae2ff , 1704px 1001px #dae2ff , 1051px 1199px #dae2ff , 275px 1909px #dae2ff , 1462px 829px #dae2ff , 375px 1057px #dae2ff , 1531px 1501px #dae2ff , 205px 403px #dae2ff , 33px 1869px #dae2ff , 967px 1176px #dae2ff , 376px 863px #dae2ff , 1769px 1545px #dae2ff , 535px 51px #dae2ff , 1972px 1569px #dae2ff , 1773px 960px #dae2ff , 487px 620px #dae2ff , 1660px 687px #dae2ff , 1632px 972px #dae2ff , 1362px 42px #dae2ff , 479px 1655px #dae2ff , 1531px 1808px #dae2ff , 1450px 1412px #dae2ff , 1549px 170px #dae2ff , 1904px 1305px #dae2ff , 1209px 48px #dae2ff , 1933px 820px #dae2ff , 1623px 595px #dae2ff , 48px 643px #dae2ff , 179px 1754px #dae2ff , 589px 1032px #dae2ff , 1199px 356px #dae2ff , 1755px 1418px #dae2ff , 780px 1174px #dae2ff , 1905px 758px #dae2ff , 1567px 713px #dae2ff , 1372px 705px #dae2ff , 456px 654px #dae2ff , 759px 690px #dae2ff , 452px 673px #dae2ff , 993px 1610px #dae2ff , 1271px 188px #dae2ff , 343px 1750px #dae2ff , 1943px 1735px #dae2ff , 1717px 853px #dae2ff , 1247px 303px #dae2ff , 1314px 1895px #dae2ff , 1203px 489px #dae2ff , 741px 469px #dae2ff , 4px 246px #dae2ff , 1515px 115px #dae2ff , 606px 218px #dae2ff , 1966px 1471px #dae2ff , 177px 87px #dae2ff , 1575px 588px #dae2ff , 1136px 1386px #dae2ff , 70px 1868px #dae2ff , 1053px 18px #dae2ff , 1124px 721px #dae2ff , 1748px 1181px #dae2ff , 191px 1387px #dae2ff , 1931px 840px #dae2ff , 1088px 1603px #dae2ff , 634px 1255px #dae2ff , 814px 1434px #dae2ff , 585px 64px #dae2ff , 1074px 1618px #dae2ff , 1692px 761px #dae2ff , 651px 643px #dae2ff , 193px 335px #dae2ff , 1103px 1447px #dae2ff , 491px 1142px #dae2ff , 521px 408px #dae2ff , 536px 340px #dae2ff , 411px 1091px #dae2ff , 1646px 193px #dae2ff , 1595px 1285px #dae2ff , 870px 1349px #dae2ff , 1085px 1013px #dae2ff , 204px 1864px #dae2ff , 1359px 299px #dae2ff , 807px 964px #dae2ff , 219px 509px #dae2ff , 36px 1227px #dae2ff , 702px 1873px #dae2ff , 1471px 934px #dae2ff , 1763px 792px #dae2ff , 973px 1957px #dae2ff , 987px 68px #dae2ff , 593px 1282px #dae2ff , 1900px 607px #dae2ff , 407px 1659px #dae2ff , 587px 17px #dae2ff , 632px 158px #dae2ff;
  -webkit-animation: animStar 600s linear infinite;
  -moz-animation: animStar 600s linear infinite;
  -ms-animation: animStar 600s linear infinite;
  animation: animStar 600s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 233px 1976px #dae2ff , 1196px 1119px #dae2ff , 646px 740px #dae2ff , 335px 645px #dae2ff , 1119px 1452px #dae2ff , 176px 1870px #dae2ff , 639px 1711px #dae2ff , 647px 1388px #dae2ff , 1516px 1108px #dae2ff , 464px 66px #dae2ff , 331px 344px #dae2ff , 772px 1189px #dae2ff , 1516px 1850px #dae2ff , 1500px 1463px #dae2ff , 1275px 876px #dae2ff , 1107px 645px #dae2ff , 977px 478px #dae2ff , 583px 1179px #dae2ff , 284px 395px #dae2ff , 1220px 461px #dae2ff , 1160px 249px #dae2ff , 196px 865px #dae2ff , 670px 1915px #dae2ff , 1449px 382px #dae2ff , 1191px 546px #dae2ff , 1329px 605px #dae2ff , 1945px 458px #dae2ff , 995px 749px #dae2ff , 1495px 861px #dae2ff , 708px 1731px #dae2ff , 348px 653px #dae2ff , 548px 1298px #dae2ff , 1606px 990px #dae2ff , 1049px 1204px #dae2ff , 253px 1501px #dae2ff , 1154px 166px #dae2ff , 1087px 104px #dae2ff , 1034px 1161px #dae2ff , 1681px 462px #dae2ff , 577px 1897px #dae2ff , 193px 1901px #dae2ff , 1701px 1755px #dae2ff , 864px 1297px #dae2ff , 800px 1289px #dae2ff , 676px 28px #dae2ff , 185px 1341px #dae2ff , 379px 1151px #dae2ff , 1224px 1725px #dae2ff , 280px 541px #dae2ff , 473px 1196px #dae2ff , 921px 1628px #dae2ff , 969px 432px #dae2ff , 1475px 758px #dae2ff , 1195px 993px #dae2ff , 876px 1840px #dae2ff , 1274px 1689px #dae2ff , 1977px 1101px #dae2ff , 837px 527px #dae2ff , 1785px 1610px #dae2ff , 1650px 1843px #dae2ff , 1127px 1508px #dae2ff , 401px 1050px #dae2ff , 51px 1105px #dae2ff , 545px 880px #dae2ff , 1786px 1672px #dae2ff , 318px 260px #dae2ff , 568px 254px #dae2ff , 1026px 1527px #dae2ff , 1242px 852px #dae2ff , 1785px 982px #dae2ff , 1318px 1071px #dae2ff , 398px 1061px #dae2ff , 1509px 257px #dae2ff , 599px 928px #dae2ff , 1195px 1800px #dae2ff , 1254px 906px #dae2ff , 141px 26px #dae2ff , 1384px 1502px #dae2ff , 476px 767px #dae2ff , 1973px 722px #dae2ff , 1339px 1031px #dae2ff , 778px 818px #dae2ff , 213px 1320px #dae2ff , 184px 221px #dae2ff , 983px 1911px #dae2ff , 923px 1439px #dae2ff , 1936px 581px #dae2ff , 1105px 625px #dae2ff , 325px 729px #dae2ff , 1475px 204px #dae2ff , 1483px 1564px #dae2ff , 1327px 1272px #dae2ff , 1187px 1944px #dae2ff , 1945px 1471px #dae2ff , 116px 960px #dae2ff , 1660px 1610px #dae2ff , 412px 1022px #dae2ff , 1552px 1516px #dae2ff , 1517px 1892px #dae2ff , 306px 829px #dae2ff , 1416px 462px #dae2ff , 1575px 1460px #dae2ff , 424px 1500px #dae2ff , 1530px 1169px #dae2ff , 1388px 1608px #dae2ff , 185px 416px #dae2ff , 634px 1446px #dae2ff , 767px 479px #dae2ff , 71px 426px #dae2ff , 1937px 145px #dae2ff , 1955px 1312px #dae2ff , 1811px 611px #dae2ff , 1145px 569px #dae2ff , 1460px 676px #dae2ff , 131px 1858px #dae2ff , 1557px 473px #dae2ff , 735px 130px #dae2ff , 112px 1531px #dae2ff , 1312px 305px #dae2ff , 409px 1032px #dae2ff , 149px 1964px #dae2ff , 535px 1215px #dae2ff , 1382px 630px #dae2ff , 1437px 1368px #dae2ff , 362px 1181px #dae2ff , 388px 181px #dae2ff , 274px 1287px #dae2ff , 1858px 1414px #dae2ff , 661px 1935px #dae2ff , 675px 1205px #dae2ff , 1829px 1725px #dae2ff , 1937px 1145px #dae2ff , 237px 908px #dae2ff , 1059px 1185px #dae2ff , 824px 1248px #dae2ff , 1167px 1730px #dae2ff , 180px 1961px #dae2ff , 1663px 203px #dae2ff , 374px 221px #dae2ff , 724px 1883px #dae2ff , 970px 1362px #dae2ff , 832px 505px #dae2ff , 313px 233px #dae2ff , 1909px 597px #dae2ff , 434px 201px #dae2ff , 587px 995px #dae2ff , 1833px 623px #dae2ff , 1464px 561px #dae2ff , 231px 593px #dae2ff , 1558px 1433px #dae2ff , 1986px 1767px #dae2ff , 1753px 1728px #dae2ff , 1153px 1623px #dae2ff , 249px 229px #dae2ff , 1503px 1186px #dae2ff , 1784px 137px #dae2ff , 841px 403px #dae2ff , 1400px 354px #dae2ff , 197px 499px #dae2ff , 1188px 681px #dae2ff , 158px 391px #dae2ff , 443px 1099px #dae2ff , 723px 1445px #dae2ff , 1408px 1235px #dae2ff , 1908px 195px #dae2ff , 271px 891px #dae2ff , 469px 1693px #dae2ff , 580px 11px #dae2ff , 1533px 70px #dae2ff , 859px 761px #dae2ff , 1510px 1844px #dae2ff , 421px 558px #dae2ff , 1132px 1453px #dae2ff , 757px 1987px #dae2ff , 212px 293px #dae2ff , 569px 323px #dae2ff , 1404px 1394px #dae2ff , 252px 1386px #dae2ff , 1668px 1857px #dae2ff , 123px 1684px #dae2ff , 105px 490px #dae2ff , 1083px 1769px #dae2ff , 1071px 1953px #dae2ff , 1271px 1159px #dae2ff , 699px 1491px #dae2ff , 1744px 1997px #dae2ff , 1868px 1973px #dae2ff , 1438px 1449px #dae2ff , 1222px 1921px #dae2ff , 1328px 1210px #dae2ff , 438px 873px #dae2ff , 809px 780px #dae2ff , 491px 1524px #dae2ff , 447px 1830px #dae2ff , 927px 1936px #dae2ff , 564px 691px #dae2ff , 1784px 1747px #dae2ff , 1978px 1722px #dae2ff , 1599px 1480px #dae2ff , 1276px 729px #dae2ff , 731px 1174px #dae2ff , 1586px 1711px #dae2ff , 451px 1340px #dae2ff , 1075px 1899px #dae2ff , 13px 575px #dae2ff , 309px 1340px #dae2ff , 981px 183px #dae2ff , 248px 1315px #dae2ff , 849px 80px #dae2ff , 1754px 1540px #dae2ff , 73px 1432px #dae2ff , 1208px 1828px #dae2ff , 65px 575px #dae2ff , 1098px 730px #dae2ff , 127px 1358px #dae2ff , 185px 19px #dae2ff , 1222px 1679px #dae2ff , 1122px 315px #dae2ff , 1906px 452px #dae2ff , 761px 284px #dae2ff , 813px 492px #dae2ff , 1344px 843px #dae2ff , 118px 1834px #dae2ff , 1620px 359px #dae2ff , 1755px 1246px #dae2ff , 299px 1076px #dae2ff , 1746px 158px #dae2ff , 6px 1635px #dae2ff , 143px 190px #dae2ff , 101px 468px #dae2ff , 137px 971px #dae2ff , 1221px 1929px #dae2ff , 1752px 650px #dae2ff , 1635px 1761px #dae2ff , 1522px 833px #dae2ff , 908px 153px #dae2ff , 1044px 350px #dae2ff , 1151px 1940px #dae2ff , 822px 210px #dae2ff , 1774px 310px #dae2ff , 796px 1447px #dae2ff , 1069px 1903px #dae2ff , 217px 565px #dae2ff , 662px 1370px #dae2ff , 1876px 1570px #dae2ff , 847px 46px #dae2ff , 1042px 1689px #dae2ff , 1584px 1434px #dae2ff , 1791px 908px #dae2ff , 973px 908px #dae2ff , 793px 747px #dae2ff , 122px 483px #dae2ff , 1137px 1374px #dae2ff , 1757px 1791px #dae2ff , 513px 225px #dae2ff , 63px 731px #dae2ff , 1179px 1926px #dae2ff , 346px 18px #dae2ff , 589px 175px #dae2ff , 87px 302px #dae2ff , 380px 1295px #dae2ff , 450px 921px #dae2ff , 1667px 1973px #dae2ff , 1495px 1373px #dae2ff , 1462px 1850px #dae2ff , 540px 288px #dae2ff , 1208px 1051px #dae2ff , 1554px 1095px #dae2ff , 1009px 1516px #dae2ff , 181px 572px #dae2ff , 165px 387px #dae2ff , 549px 1835px #dae2ff , 960px 16px #dae2ff , 1360px 403px #dae2ff , 1251px 43px #dae2ff , 1905px 1813px #dae2ff , 1106px 866px #dae2ff , 1809px 277px #dae2ff , 1828px 1720px #dae2ff , 295px 1610px #dae2ff , 523px 166px #dae2ff , 1069px 692px #dae2ff , 1292px 217px #dae2ff , 11px 1721px #dae2ff , 99px 1045px #dae2ff , 51px 1584px #dae2ff , 1053px 266px #dae2ff , 1287px 1235px #dae2ff , 747px 1722px #dae2ff , 1542px 736px #dae2ff , 1256px 18px #dae2ff , 102px 609px #dae2ff , 586px 1339px #dae2ff , 1843px 1697px #dae2ff , 824px 1687px #dae2ff , 1124px 882px #dae2ff , 395px 501px #dae2ff , 1456px 672px #dae2ff , 1472px 1648px #dae2ff , 1326px 1164px #dae2ff , 777px 1672px #dae2ff , 81px 345px #dae2ff , 91px 386px #dae2ff , 243px 411px #dae2ff , 1560px 90px #dae2ff , 6px 1771px #dae2ff , 1601px 616px #dae2ff , 1220px 1808px #dae2ff , 1160px 836px #dae2ff , 246px 1777px #dae2ff , 456px 863px #dae2ff , 97px 1138px #dae2ff , 1811px 942px #dae2ff , 213px 414px #dae2ff , 891px 392px #dae2ff , 1044px 927px #dae2ff , 1856px 216px #dae2ff , 957px 347px #dae2ff , 1486px 406px #dae2ff , 838px 912px #dae2ff , 803px 361px #dae2ff , 564px 826px #dae2ff , 1597px 949px #dae2ff , 1206px 289px #dae2ff , 33px 1035px #dae2ff , 1762px 1377px #dae2ff , 789px 1815px #dae2ff , 1594px 1342px #dae2ff , 1668px 880px #dae2ff , 1539px 1581px #dae2ff , 1547px 53px #dae2ff , 861px 1433px #dae2ff , 693px 1618px #dae2ff , 1762px 782px #dae2ff , 1568px 682px #dae2ff , 1126px 1762px #dae2ff , 1242px 134px #dae2ff , 495px 959px #dae2ff , 1606px 219px #dae2ff , 1878px 1415px #dae2ff , 1652px 797px #dae2ff , 782px 1903px #dae2ff , 1774px 1133px #dae2ff , 1430px 408px #dae2ff , 265px 394px #dae2ff , 890px 336px #dae2ff , 1051px 311px #dae2ff , 461px 1559px #dae2ff , 1931px 91px #dae2ff , 1160px 380px #dae2ff , 1442px 1058px #dae2ff , 1157px 364px #dae2ff , 586px 227px #dae2ff , 1365px 715px #dae2ff , 1658px 1655px #dae2ff , 1923px 1664px #dae2ff , 1023px 1844px #dae2ff , 1939px 1367px #dae2ff , 1203px 1305px #dae2ff , 359px 642px #dae2ff , 1056px 425px #dae2ff , 787px 202px #dae2ff , 1609px 1850px #dae2ff , 1964px 200px #dae2ff , 1537px 586px #dae2ff , 1589px 903px #dae2ff , 1063px 1694px #dae2ff , 760px 1185px #dae2ff , 597px 1396px #dae2ff , 294px 452px #dae2ff , 433px 818px #dae2ff , 199px 840px #dae2ff , 1332px 1937px #dae2ff , 169px 1907px #dae2ff , 591px 834px #dae2ff , 1716px 1032px #dae2ff , 45px 1879px #dae2ff , 686px 1469px #dae2ff , 1520px 475px #dae2ff , 1122px 859px #dae2ff , 973px 1541px #dae2ff , 269px 477px #dae2ff , 1390px 716px #dae2ff , 1791px 783px #dae2ff , 824px 2000px #dae2ff , 1211px 1717px #dae2ff , 1008px 1587px #dae2ff , 1422px 204px #dae2ff , 234px 556px #dae2ff , 506px 550px #dae2ff , 942px 1670px #dae2ff , 397px 853px #dae2ff , 599px 795px #dae2ff , 762px 1926px #dae2ff , 1202px 1424px #dae2ff , 135px 1316px #dae2ff , 1442px 1692px #dae2ff , 977px 652px #dae2ff , 564px 1648px #dae2ff , 997px 1474px #dae2ff , 67px 1366px #dae2ff , 1860px 1451px #dae2ff , 1105px 772px #dae2ff , 1886px 1396px #dae2ff , 1510px 658px #dae2ff , 976px 1544px #dae2ff , 894px 543px #dae2ff , 1098px 1189px #dae2ff , 690px 77px #dae2ff , 770px 733px #dae2ff , 557px 1403px #dae2ff , 1758px 1623px #dae2ff , 1341px 812px #dae2ff , 699px 967px #dae2ff , 277px 866px #dae2ff , 1526px 1828px #dae2ff , 8px 977px #dae2ff , 1707px 952px #dae2ff , 12px 1900px #dae2ff , 72px 921px #dae2ff , 496px 1067px #dae2ff , 1288px 1749px #dae2ff , 273px 984px #dae2ff , 1197px 1991px #dae2ff , 242px 789px #dae2ff , 903px 1035px #dae2ff , 480px 1492px #dae2ff , 102px 1331px #dae2ff , 738px 1343px #dae2ff , 560px 1475px #dae2ff , 367px 846px #dae2ff , 1420px 962px #dae2ff , 1976px 892px #dae2ff , 1911px 1763px #dae2ff , 1639px 1002px #dae2ff , 437px 1522px #dae2ff , 1906px 1025px #dae2ff , 730px 1364px #dae2ff , 1127px 521px #dae2ff , 1401px 1792px #dae2ff , 1954px 1066px #dae2ff , 232px 250px #dae2ff , 1685px 660px #dae2ff , 1011px 999px #dae2ff , 1970px 790px #dae2ff , 750px 499px #dae2ff , 1738px 660px #dae2ff , 1621px 1849px #dae2ff , 446px 52px #dae2ff , 1055px 1396px #dae2ff , 1165px 1497px #dae2ff , 1740px 1425px #dae2ff , 1012px 1920px #dae2ff , 1258px 1560px #dae2ff , 1020px 1152px #dae2ff , 362px 673px #dae2ff , 1065px 975px #dae2ff , 582px 755px #dae2ff , 1271px 1479px #dae2ff , 719px 548px #dae2ff , 1602px 879px #dae2ff , 590px 499px #dae2ff , 721px 1412px #dae2ff , 1180px 113px #dae2ff , 1801px 1961px #dae2ff , 589px 941px #dae2ff , 883px 476px #dae2ff , 214px 890px #dae2ff , 1028px 892px #dae2ff , 1107px 1832px #dae2ff , 944px 361px #dae2ff , 480px 1453px #dae2ff , 1466px 683px #dae2ff , 981px 745px #dae2ff , 1968px 828px #dae2ff , 657px 1830px #dae2ff , 11px 1338px #dae2ff , 179px 730px #dae2ff , 1713px 197px #dae2ff , 51px 955px #dae2ff , 1243px 319px #dae2ff , 1175px 624px #dae2ff , 446px 46px #dae2ff , 5px 1158px #dae2ff , 82px 1352px #dae2ff , 1877px 402px #dae2ff , 708px 1778px #dae2ff , 903px 1625px #dae2ff , 1824px 352px #dae2ff , 1229px 140px #dae2ff , 1518px 24px #dae2ff , 1017px 512px #dae2ff , 515px 699px #dae2ff , 295px 265px #dae2ff , 69px 1773px #dae2ff , 1640px 1163px #dae2ff , 536px 342px #dae2ff , 970px 1766px #dae2ff , 560px 1416px #dae2ff , 577px 193px #dae2ff , 469px 9px #dae2ff , 466px 276px #dae2ff , 711px 853px #dae2ff , 401px 685px #dae2ff , 85px 506px #dae2ff , 865px 558px #dae2ff , 631px 105px #dae2ff , 887px 866px #dae2ff , 1704px 1001px #dae2ff , 1051px 1199px #dae2ff , 275px 1909px #dae2ff , 1462px 829px #dae2ff , 375px 1057px #dae2ff , 1531px 1501px #dae2ff , 205px 403px #dae2ff , 33px 1869px #dae2ff , 967px 1176px #dae2ff , 376px 863px #dae2ff , 1769px 1545px #dae2ff , 535px 51px #dae2ff , 1972px 1569px #dae2ff , 1773px 960px #dae2ff , 487px 620px #dae2ff , 1660px 687px #dae2ff , 1632px 972px #dae2ff , 1362px 42px #dae2ff , 479px 1655px #dae2ff , 1531px 1808px #dae2ff , 1450px 1412px #dae2ff , 1549px 170px #dae2ff , 1904px 1305px #dae2ff , 1209px 48px #dae2ff , 1933px 820px #dae2ff , 1623px 595px #dae2ff , 48px 643px #dae2ff , 179px 1754px #dae2ff , 589px 1032px #dae2ff , 1199px 356px #dae2ff , 1755px 1418px #dae2ff , 780px 1174px #dae2ff , 1905px 758px #dae2ff , 1567px 713px #dae2ff , 1372px 705px #dae2ff , 456px 654px #dae2ff , 759px 690px #dae2ff , 452px 673px #dae2ff , 993px 1610px #dae2ff , 1271px 188px #dae2ff , 343px 1750px #dae2ff , 1943px 1735px #dae2ff , 1717px 853px #dae2ff , 1247px 303px #dae2ff , 1314px 1895px #dae2ff , 1203px 489px #dae2ff , 741px 469px #dae2ff , 4px 246px #dae2ff , 1515px 115px #dae2ff , 606px 218px #dae2ff , 1966px 1471px #dae2ff , 177px 87px #dae2ff , 1575px 588px #dae2ff , 1136px 1386px #dae2ff , 70px 1868px #dae2ff , 1053px 18px #dae2ff , 1124px 721px #dae2ff , 1748px 1181px #dae2ff , 191px 1387px #dae2ff , 1931px 840px #dae2ff , 1088px 1603px #dae2ff , 634px 1255px #dae2ff , 814px 1434px #dae2ff , 585px 64px #dae2ff , 1074px 1618px #dae2ff , 1692px 761px #dae2ff , 651px 643px #dae2ff , 193px 335px #dae2ff , 1103px 1447px #dae2ff , 491px 1142px #dae2ff , 521px 408px #dae2ff , 536px 340px #dae2ff , 411px 1091px #dae2ff , 1646px 193px #dae2ff , 1595px 1285px #dae2ff , 870px 1349px #dae2ff , 1085px 1013px #dae2ff , 204px 1864px #dae2ff , 1359px 299px #dae2ff , 807px 964px #dae2ff , 219px 509px #dae2ff , 36px 1227px #dae2ff , 702px 1873px #dae2ff , 1471px 934px #dae2ff , 1763px 792px #dae2ff , 973px 1957px #dae2ff , 987px 68px #dae2ff , 593px 1282px #dae2ff , 1900px 607px #dae2ff , 407px 1659px #dae2ff , 587px 17px #dae2ff , 632px 158px #dae2ff;
}

@-webkit-keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
  }
}
@-moz-keyframes animStar {
  from {
    -moz-transform: translateY(0px);
  }
  to {
    -moz-transform: translateY(-2000px);
  }
}
@-ms-keyframes animStar {
  from {
    -ms-transform: translateY(0px);
  }
  to {
    -ms-transform: translateY(-2000px);
  }
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

